<!DOCTYPE html>
<html lang="es">
    <head>
        
        {% load static %}

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Clinica Benavides</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static '/home/assets/favicon.ico' %}" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
        <link href="{% static 'css/changes.css' %}" rel="stylesheet" />
        <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    </head>
    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="/">Clinica "Benavides"</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Home</a></li>
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'index' %}">Articulos</a></li>
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'home:about' %}">Acerca</a></li>
                        {% if user.is_authenticated %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'medics:medics-list' %}">Medicos</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Pacientes</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="{% url 'pacients:pacients-list' %}">Pacientes</a></li>
                                <!-- <li><hr class="dropdown-divider" /></li> -->
                                <!-- <li><a class="dropdown-item" href="#!">Diagnosticos</a></li> -->
                                <li><a class="dropdown-item" href="{% url 'extra:turns-list' %}">Sacar Turno</a></li>
                            </ul>
                        </li>
                        {% endif %}
                    </ul>
                    {% if user.is_authenticated %}
                        {% if user.is_superuser %}
                            <h5 style="margin-top: 17px; margin-right: 10px;">SuperUser</h5>                            
                        {% endif %}
                    
                    <div class="nav-item dropdown">
                    <a class="btn btn-primary" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Hola {{ user.username }}!</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{% url 'user:profile' %}">Editar usuario</a></li>
                            <li><a class="dropdown-item" href="{% url 'user:avatar-load' %}">Editar avatar</a></li>
                            <li><a class="dropdown-item" href="{% url 'user:logout' %}">Cerrar Sesión</a></li>
                            <li><hr class="dropdown-divider" /></li>
                            <li><a class="dropdown-item" href="{% url 'detail' %}">Edit Articulos</a></li>
                        </ul>
                    </div>
                    {% else %}
                    <form class="d-flex" action="{% url 'user:register' %}">
                        <button class="btn btn-outline-dark" type="submit">
                            Register
                        </button>
                    </form>
                    <form class="d-flex" action="{% url 'user:login' %}" >
                        <button class="btn btn-outline-dark" type="submit">
                            Sign-In
                        </button>
                    </form>
                
                    {% endif %}

                </div>
            </div>
        </nav>
        <!-- Header-->
        <header class="bg-dark py-5" id="foto">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Clinica "Benavides"</h1>
                </div>
            </div>
        </header>
        <!-- Section-->
        {% block changes %}
    
        {% endblock %}
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="social-media">
                <a href="https://twitter.com/" target="_blank"><i class="bi bi-twitter" style="font-size: 2rem; color: whitesmoke;"></i></a>
                <a href="https://es-la.facebook.com/" target="_blank"><i class="bi bi-facebook" style="font-size: 2rem; color: whitesmoke;"></i></a>
                <a href="https://github.com/gpacho" target="_blank"><i class="bi bi-github" style="font-size: 2rem; color: whitesmoke;"></i></a>
            </div>
            <div class="container">
                <p class="m-0 text-center text-white">Copyright &copy; Benavides 2022. All rights reserved.</p>
            </div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
